<form action="/devices/add" method="post">
  <label for="name">Device Name</label>
  <input type="text" name="name" value="" id="name" />

  <label for="sensors">Sensors</label>
  <textarea name="sensors" rows="1" cols="40" id="sensors"></textarea>

  <label for="inputs">Input Type</label>
  <textarea name="inputs" rows="1" cols="40" id="inputs"></textarea>

  <p><input type="submit" value="Submit"></p>
</form>