<h1><%= name %></h1>

<h2>Sensors</h2>
<ul>
<% sensors.forEach(function(sensor){ %>
  <li><%= sensor %></li>
<% }) %>
</ul>

<h2>Input Type</h2>
<p><%= input %></p>

<a href="/devices">Return to the device list</a>