<h1>All Devices</h1>

<ul>
<% devices.forEach(function(device){ %>
  <li><a href="/devices/<%= device.url %>"><%= device.name %></a></li>
<% }) %>
</ul>

<p><a href="/devices/add">Add a device</a></p>