<h1>DataLog</h1>


<div class='row'>
	<div class='col-md-8'>
		<p>This node server will be used to log Yun and other connected device data.</p>

		<p>Pages:</p>
		<ul>
			<li><a href='/users'>List of Users</a></li>
	</div>
	</div>