<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa  fa-meh-o fa-spin"></span> An Alright Data Store <span class="fa  fa-meh-o fa-spin"></span> </h1>

		<a href="/login" class="btn btn-default"><span class="fa fa-bolt"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-rocket"></span> Signup</a>
			
</div>
	
 </body>

 