<h1>Thank You!</h1>

<p>Thanks for adding a device.</p>

<h2>Device name: <%= name %></h2>

<h2>Sensors</h2>
<pre><%= sensors %></pre>

<h2>Input Type</h2>
<pre><%= inputs %></pre>

<p><a href="/devices">Return to the device list</a></p>